flask
python-dotenv
Flask-SQLAlchemy
requests
flask-praetorian
flask_cors
coverage
email-validator
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Script
Flask-Testing
Flask-WTF
itsdangerous
SQLAlchemy
wtforms
flask-socketio


